{
  "branches": [
    "master",
    {
      "name": "develop",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "zip -r '/tmp/release.zip' ./Woodmart README.md"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "/tmp/release.zip",
            "name": "xwp-stuvs-v${nextRelease.version}.zip",
            "label": "xWP Stub collection v${nextRelease.version}"
          }
        ]
      }
    ]
  ]
}
